/* You can add global styles to this file, and also import other style files */
html {
  font-family: Verdana;
  background-color: black;
  font-size: 41px;
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
