table {
  background-color: white;
  border-radius: 18px;

  .bingo_head>th {
    background-color: #c89f60;
  }
}

mat-grid-list {
  background-color: white;
}

h1,
th {
  //   font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 28px;
}

table {
  margin: auto;
  border-collapse: collapse;
  //   separate !important;
  width: 90%;
}

th,
td {
  padding: 10px;
  border: 2px #666 solid;
  text-align: center;
  // height: 200px;
  // width: 200px;
  // width: 20%;
  // height: calc(width*1); //   height: 100px;
  //   width: 100px;
}

#free,
.pickedBG {
  background-color: green;
}
