<h1>FML</h1>
<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile class="head_cell">B</mat-grid-tile>
  <mat-grid-tile class="head_cell">I</mat-grid-tile>
  <mat-grid-tile class="head_cell">N</mat-grid-tile>
  <mat-grid-tile class="head_cell">G</mat-grid-tile>
  <mat-grid-tile class="head_cell">O</mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="0"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="1"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="2"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="3"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="4"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="5"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="6"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="7"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="8"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="9"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="10"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="11"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile id="free_space">
     Free Space
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="12"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="13"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="14"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="15"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="16"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="17"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="18"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="19"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="20"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="21"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="22"></app-bingo-cell>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bingo-cell [cellData]="boardData" cellIndex="23"></app-bingo-cell>
  </mat-grid-tile>
</mat-grid-list>
<!-- <table>
  <tr class="bingo_head">
    <th>B</th>
    <th>I</th>
    <th>N</th>
    <th>G</th>
    <th>O</th>
  </tr>

  <tr #container>
    <td [style.height.px]="cell_height" [style.width.px]="cell_height" id="square0">
      <app-bingo-cell [cellData]="boardData" cellIndex="0"></app-bingo-cell>
    </td>
    <td id="square5">
      <app-bingo-cell [cellData]="boardData" cellIndex="1"></app-bingo-cell>
    </td>
    <td id="square10">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square14">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square19">
      <app-bingo-cell></app-bingo-cell>
    </td>
  </tr>
  <tr>
    <td id="square1">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square6">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square11">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square15">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square20">
      <app-bingo-cell></app-bingo-cell>
    </td>
  </tr>
  <tr>
    <td id="square2">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square7">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="free">Free</td>
    <td id="square16">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square21">
      <app-bingo-cell></app-bingo-cell>
    </td>
  </tr>
  <tr>
    <td id="square3">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square8">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square12">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square17">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square22">
      <app-bingo-cell></app-bingo-cell>
    </td>
  </tr>
  <tr>
    <td id="square4">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square9">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square13">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square18">
      <app-bingo-cell></app-bingo-cell>
    </td>
    <td id="square23">
      <app-bingo-cell></app-bingo-cell>
    </td>
  </tr>
</table> -->