

mat-grid-tile {

  background-color: white;
  border: solid 2px #000;
}

#free_space {
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  background: lightgreen;
}

.head_cell {
  background: lightblue;
  font-weight: bolder;
}

mat-grid-list {
  // background-color: white;
  // margin: auto;
  // border-collapse: collapse;
  //   separate !important;
  // width: 90%;
}

h1,
th {
  //   font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 28px;
}

