mat-grid-tile {

  background-color: white;
  border: solid 2px #000;

  .selected {
    position: absolute;
    color: red;
    opacity: .75;
    font-size: 60px;
    font-weight: bolder;
  }
}

#free_space {
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  background: lightgreen;
}

.head_cell {
  background: lightblue;
  font-weight: bolder;
}

mat-grid-list {
  // background-color: white;
  margin: auto;
  // border-collapse: collapse;
  //   separate !important;
  // width: 90%;
  max-width: 600px;
}

h1,
th {
  //   font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 28px;
}
